<h1>Help</h1>


<div class="faq-container" style="border-top: 1px solid #cccc;">

    <h2>FAQ</h2>
    <ul class="help">
        <li class="faq"><a href='#sect-new'>How do I enter a new contact?</a></li>
        <li class="faq"><a href='#sect-acct'>How do I create a Drop Yard account?</a></li>
        <li class="faq"><a href='#sect-search'>How do I search for a contact?</a></li>
        <li class="faq"><a href='#sect-category'>How do I see my contacts by category?</a></li>
        <li class="faq"><a href='#sect-email'>How do I send a contact an email?</a></li>
        <li class="faq"><a href='#sect-call'>How do I call a contact from app?</a></li>
        <li class="faq"><a href='#sect-dy'>How do I contact Drop Yard?</a></li>
    </ul>

    <div id="sect-new">
        <h3>How do I enter a new contact?</h3>
        <p>
            From the menu select 'New Contact'.  Complete the new contact form, a category is required.
        </p>
    </div>
    <div id="sect-acct">
        <h3>How do I create a Drop Yard account?</h3>
        <p>
            creat your free accout by selecting 'Sign Up' button near the top of the page.
        </p>
    </div>

    <div id="sect-search">
        <h3>How do I search for a contact?</h3>
        <p>
            Feature unavailable at this time.
        </p>
    </div>
    <div id="sect-category">
        <h3>How do I see my contacts by category?</h3>
        <p>
            feature coming in future updates.
        </p>
    </div>
    <div id="sect-email">
        <h3>How do I send a contact an email?</h3>
        <p>
            find the contact you wish to email and click their email link.  Your local mail client will open with email address pre populated.
        </p>
    </div>
    <div id="sect-call">
        <h3>How do I call a contact from app?</h3>
        <p>
            Find Contact and click the phone number. If you are on a mobile device you will be able to dials contact.
        </p>
    </div>
    <div id="sect-dy">
        <h3>How do I contact Drop Yard?</h3>
        <p>
            Email <a href="mailto://info@dropyard.io">info@Dropyard.io</a>
        </p>
    </div>



</div>