<h1>Help</h1>


<div class="faq-container" style="border-top: 1px solid #cccc;">

    <h2>FAQ</h2>
    <ul class="help">
        <li class="faq"><a href='#sect-new'>How do I enter a new contact?</a></li>
        <li class="faq"><a href='#sect-search'>How do I search for a contact?</a></li>
        <li class="faq"><a href='#sect-category'>How do I see my contacts by category?</a></li>
        <li class="faq"><a href='#sect-email'>How do I send a contact an email?</a></li>
        <li class="faq"><a href='#sect-call'>How do I call a contact from app?</a></li>
        <li class="faq"><a href='#sect-dy'>How do I contact Drop Yard?</a></li>
        <li class="faq"><a href='#sect-acct'>How do I create a Drop Yard account?</a></li>
    </ul>

    <div id="sect-new">
        <h3>How do I enter a new contact?</h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat recusandae minima id hic reiciendis veniam possimus qui esse ullam ratione maxime eos repellendus quaerat, natus vel deserunt, eligendi ab laboriosam laborum culpa impedit. Placeat illum accusantium quis rerum, exercitationem doloribus, repellat facilis asperiores blanditiis neque pariatur molestias inventore in omnis praesentium perspiciatis, dolores veritatis ratione ut. Fugit nostrum, similique sunt nesciunt praesentium reprehenderit necessitatibus dicta magnam impedit voluptas, ratione voluptate harum soluta cupiditate. Qui magni quia ad ratione voluptatum, dolores praesentium provident aspernatur odio rerum esse quaerat. Cumque aspernatur neque distinctio odio pariatur iure, voluptatibus illo itaque explicabo omnis officiis labore deleniti quam? Distinctio minima perferendis officia doloribus modi itaque architecto reprehenderit quia nemo cupiditate. Voluptas culpa atque dolore suscipit.
        </p>
    </div>

    <div id="sect-search">
        <h3>How do I search for a contact?</h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat recusandae minima id hic reiciendis veniam possimus qui esse ullam ratione maxime eos repellendus quaerat, natus vel deserunt, eligendi ab laboriosam laborum culpa impedit. Placeat illum accusantium quis rerum, exercitationem doloribus, repellat facilis asperiores blanditiis neque pariatur molestias inventore in omnis praesentium perspiciatis, dolores veritatis ratione ut. Fugit nostrum, similique sunt nesciunt praesentium reprehenderit necessitatibus dicta magnam impedit voluptas, ratione voluptate harum soluta cupiditate. Qui magni quia ad ratione voluptatum, dolores praesentium provident aspernatur odio rerum esse quaerat. Cumque aspernatur neque distinctio odio pariatur iure, voluptatibus illo itaque explicabo omnis officiis labore deleniti quam? Distinctio minima perferendis officia doloribus modi itaque architecto reprehenderit quia nemo cupiditate. Voluptas culpa atque dolore suscipit.
        </p>
    </div>
    <div id="sect-category">
        <h3>How do I see my contacts by category?</h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat recusandae minima id hic reiciendis veniam possimus qui esse ullam ratione maxime eos repellendus quaerat, natus vel deserunt, eligendi ab laboriosam laborum culpa impedit. Placeat illum accusantium quis rerum, exercitationem doloribus, repellat facilis asperiores blanditiis neque pariatur molestias inventore in omnis praesentium perspiciatis, dolores veritatis ratione ut. Fugit nostrum, similique sunt nesciunt praesentium reprehenderit necessitatibus dicta magnam impedit voluptas, ratione voluptate harum soluta cupiditate. Qui magni quia ad ratione voluptatum, dolores praesentium provident aspernatur odio rerum esse quaerat. Cumque aspernatur neque distinctio odio pariatur iure, voluptatibus illo itaque explicabo omnis officiis labore deleniti quam? Distinctio minima perferendis officia doloribus modi itaque architecto reprehenderit quia nemo cupiditate. Voluptas culpa atque dolore suscipit.
        </p>
    </div>
    <div id="sect-email">
        <h3>How do I send a contact an email?</h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat recusandae minima id hic reiciendis veniam possimus qui esse ullam ratione maxime eos repellendus quaerat, natus vel deserunt, eligendi ab laboriosam laborum culpa impedit. Placeat illum accusantium quis rerum, exercitationem doloribus, repellat facilis asperiores blanditiis neque pariatur molestias inventore in omnis praesentium perspiciatis, dolores veritatis ratione ut. Fugit nostrum, similique sunt nesciunt praesentium reprehenderit necessitatibus dicta magnam impedit voluptas, ratione voluptate harum soluta cupiditate. Qui magni quia ad ratione voluptatum, dolores praesentium provident aspernatur odio rerum esse quaerat. Cumque aspernatur neque distinctio odio pariatur iure, voluptatibus illo itaque explicabo omnis officiis labore deleniti quam? Distinctio minima perferendis officia doloribus modi itaque architecto reprehenderit quia nemo cupiditate. Voluptas culpa atque dolore suscipit.
        </p>
    </div>
    <div id="sect-call">
        <h3>How do I call a contact from app?</h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat recusandae minima id hic reiciendis veniam possimus qui esse ullam ratione maxime eos repellendus quaerat, natus vel deserunt, eligendi ab laboriosam laborum culpa impedit. Placeat illum accusantium quis rerum, exercitationem doloribus, repellat facilis asperiores blanditiis neque pariatur molestias inventore in omnis praesentium perspiciatis, dolores veritatis ratione ut. Fugit nostrum, similique sunt nesciunt praesentium reprehenderit necessitatibus dicta magnam impedit voluptas, ratione voluptate harum soluta cupiditate. Qui magni quia ad ratione voluptatum, dolores praesentium provident aspernatur odio rerum esse quaerat. Cumque aspernatur neque distinctio odio pariatur iure, voluptatibus illo itaque explicabo omnis officiis labore deleniti quam? Distinctio minima perferendis officia doloribus modi itaque architecto reprehenderit quia nemo cupiditate. Voluptas culpa atque dolore suscipit.
        </p>
    </div>
    <div id="sect-dy">
        <h3>How do I contact Drop Yard?</h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat recusandae minima id hic reiciendis veniam possimus qui esse ullam ratione maxime eos repellendus quaerat, natus vel deserunt, eligendi ab laboriosam laborum culpa impedit. Placeat illum accusantium quis rerum, exercitationem doloribus, repellat facilis asperiores blanditiis neque pariatur molestias inventore in omnis praesentium perspiciatis, dolores veritatis ratione ut. Fugit nostrum, similique sunt nesciunt praesentium reprehenderit necessitatibus dicta magnam impedit voluptas, ratione voluptate harum soluta cupiditate. Qui magni quia ad ratione voluptatum, dolores praesentium provident aspernatur odio rerum esse quaerat. Cumque aspernatur neque distinctio odio pariatur iure, voluptatibus illo itaque explicabo omnis officiis labore deleniti quam? Distinctio minima perferendis officia doloribus modi itaque architecto reprehenderit quia nemo cupiditate. Voluptas culpa atque dolore suscipit.
        </p>
    </div>
    <div id="sect-acct">
        <h3>How do I create a Drop Yard account?</h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat recusandae minima id hic reiciendis veniam possimus qui esse ullam ratione maxime eos repellendus quaerat, natus vel deserunt, eligendi ab laboriosam laborum culpa impedit. Placeat illum accusantium quis rerum, exercitationem doloribus, repellat facilis asperiores blanditiis neque pariatur molestias inventore in omnis praesentium perspiciatis, dolores veritatis ratione ut. Fugit nostrum, similique sunt nesciunt praesentium reprehenderit necessitatibus dicta magnam impedit voluptas, ratione voluptate harum soluta cupiditate. Qui magni quia ad ratione voluptatum, dolores praesentium provident aspernatur odio rerum esse quaerat. Cumque aspernatur neque distinctio odio pariatur iure, voluptatibus illo itaque explicabo omnis officiis labore deleniti quam? Distinctio minima perferendis officia doloribus modi itaque architecto reprehenderit quia nemo cupiditate. Voluptas culpa atque dolore suscipit.
        </p>
    </div>


</div>