/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
    // font-family: 'Lora', serif;
    // font-family: 'Roboto Slab', serif;
    // font-family: 'Eczar', serif;
 */





@import 'bootstrap-sprockets';
@import 'bootstrap';

/************ Navagation Style ****************/

html{
	box-sizing: border-box;
}
*, *:after,*:before{
	box-sizing: inherit;
}
a{
	color: #333;
	text-decoration: none;
}
html{
  width: 100%;
   height: 100%;
}
body{
	background: #f9fafa;
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: #333333;
  padding: 0px;
}
h1{
  width: 100%;
  text-align: center;
  padding: 40px 0;
}
.open{
	position: fixed;
	top: 40px;
	right: 40px;
	width: 50px;
	height: 50px;
	display: block;
	cursor: pointer;
	transition: opacity 0.2s linear;
	&:hover{
		opacity: 0.8;
	}
	span{
		display: block;
		float: left;
		clear: both;
		height: 4px;
		width: 40px;
		border-radius: 40px;
		background-color: #aca6a6;
		position: absolute;
		right: 3px;
		top: 3px;
		overflow: hidden;
		transition: all 0.4s ease;
		&:nth-child(1){
			margin-top: 10px;
			z-index: 9;
		}
		&:nth-child(2){
			margin-top: 25px;
		}
		&:nth-child(3){
			margin-top: 40px;
		}
	}
}

.sub-menu li a{
    text-decoration: none;
}

.sub-menu li a:hover{
    text-decoration: none;
    color: #bce0f1;
    font-style: oblique;
}

.sub-menu{
	transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
		height: 0;
		width: 0;
		right: 0;
		top: 0;
		position: absolute;
		background-color: rgba(170, 93, 5, 0.54);
		border-radius: 50%;
		z-index: 18;
		overflow: hidden;
		li{
			display: block;
			float: right;
			clear: both;
			height: auto;
			margin-right: -160px;
			transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
			&:first-child{
				margin-top: 180px;
			}
			&:nth-child(1){
				-webkit-transition-delay: 0.05s;
			}
			&:nth-child(2){
				-webkit-transition-delay: 0.10s;
			}
			&:nth-child(3){
				-webkit-transition-delay: 0.15s;
			}
			&:nth-child(4){
				-webkit-transition-delay: 0.20s;
			}
			&:nth-child(5){
				-webkit-transition-delay: 0.25s;
			}
			a{
				color: #fff;
				font-family: 'Lato', Arial, Helvetica, sans-serif;
				font-size: 16px;
				width: 100%;
				display: block;
				float: left;
				line-height: 40px;
			}
		}
	}

	.oppenned{
		.sub-menu{
			opacity: 1;
			height: 400px;
			width: 400px;
		}
		span:nth-child(2){
			overflow: visible;
		}
		span:nth-child(1), span:nth-child(3){
			z-index: 100;
			transform: rotate(45deg);
		}
		span:nth-child(1){
			transform: rotate(45deg) translateY(12px) translateX(12px);
		}
		span:nth-child(2){
			height: 400px;
			width: 400px;
			right: -160px;
			top: -160px;
			border-radius: 50%;
			background-color: rgba(156, 50, 23, 0.54);
		}
		span:nth-child(3){			
			transform: rotate(-45deg) translateY(-10px) translateX(10px);
		}
		li{
			margin-right: 168px;
		}
	}
.button{
	display: block;
	float: left;
    clear: both;
	padding: 20px 40px;
	background: #ffffff;
	border-radius: 3px;
	border: 2px solid #10a1ea;
	overflow: hidden;
	position: relative;
	&:after{
		transition: transform 0.3s ease;
		content: "";
		position: absolute;
		height: 200px;
		width: 400px;
		transform: rotate(45deg) translateX(-540px) translateY(-100px);
		background: #10a1ea;
		z-index: 1;
	}
	&:before{
		transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
		content: attr(title);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		color: #fff;
		z-index: 2;
		text-align: center;
		padding: 20px 40px;
		transform: translateY(200px);
	}
	&:hover{
		text-decoration: none;
		&:after{
			transform: translateX(-300px) translateY(-100px);
		}
		&:before{
			transform: translateY(0);
		}
	}
}


 /***************** End Navagation ********************/  
.grid {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;

}

.show-page {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-auto-columns: auto;
}

.show-page .show-page-left {
    width: 300px;

}

.show-page .show-grid-right {
    width: 100%;
    height: 300px;
}

#map-canvas {
    width: 100%;
    height: 300px;
    border: 1px solid #1c1c1c;
}

.map {
    height: 400px;
    background-image: url('app/assets/images/map.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;

}

.help a {
    color: #5f5c5c;
}

.grid .center, .form-group {
    padding-left: 15px;
    width: 100%
}

.footer {
    width: 100%;
    position: relative;
    background-color: #1c1c1c;
    padding-top: 20px;
    height: 100px;
    margin-left: 0;
}

.social, .legal, ul, li a {
    list-style: none;
    color: #f9fafa;
}

.legal a:hover {
    color: #aca6a6;
    font-weight: 500;
    text-decoration: none;
}

.index h1{
    text-align: left;
    padding: 0px;
}


.container {
    border-radius: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 400px;
}

.container .jumbotron {
    border-radius: 0;
    height: 400px;
    background-image: url('app/assets/images/trucker-hero.jpg');
    background-size: 100% 400px;
    background-repeat: no-repeat;
    object-fit: cover;
    background-attachment: fixed;
    z-index: -1;
}

.jumbotron {
    padding: 0;
    margin: 0;
    border: 0;
    h1{
        padding-top: 10px;
    }
}


.jumbotron h1 {
    font-family: Lora;
    text-shadow: 2px 2px 3px #a7774a;
    text-align: center;
    color: #dddddd;
    text-align: left;
    font-size: 4.5em;
    padding-left: 10px;
    margin: 0;
    width: 7em;
}

.header, .header a {
    background-color: #1b1b1b;
    color: #f9fafa;
    margin-top: 0;
    padding: 0;
    padding-right: 15px;
    height: 60px;
    text-align: right;
    a {
        padding: 15px ;
        margin-bottom: 0;
    }
}

.header-search {
    margin-top: 0px;
    position: relative;
}

.navbar-header .navbar-brand {
    font-family: Lora;
    color: #dee2e6;
}

.navbar {
    font-family: Lora;
    background-color: #1c1c1c;
    margin: 0;
    border: 0;
    border-radius: 0;
    .collapse ul a{
        color: #ffffff;
    }
    .collapse ul a:hover {
        color: #5f5c5c;
    }
}

.help li, a {
    list-style: none;
    color: #1c1c1c;
    font-size: 1.2em;
}

.help a {
    text-decoration: none;
}

.help a:hover {
    text-decoration: none;
    color: #5f5c5c;
    font-weight: 600;
}

.content-container {
    margin: 3rem;
    color: #1c1c1c;
}



.form-group, .actions {
    color: #1c1c1c;
}

.actions .btn {
    border: 1px outset;
    background-color: #6bb4e7;
    border-radius: 0;
    border-color: #5aa8df;
    color: #1c1c1c;
    margin-left: -5px;
    margin: 0;
}

.actions .btn:hover {
    background-color: #5aa8df;
    border-color: #6bb4e7;
    color: #dddddd;
    font-weight: 200;
}


.card {
    background-color: #ffffff;
    border: 5px #6bb4e7;
    border-radius: 3px;
    color: #1c1c1c;
}

.table .btn {
    border: 1px outset;
    background-color: #6bb4e7;
    border-radius: 0;
    border-color: #5aa8df;
    color: #1c1c1c;
    margin-left: -5px;
    margin: 0;
    padding: 1px 0 1px 0;
    width: 70px;
}

.table td a:visited, th a:visited {
    color: #1c1c1c;
}

.table td a:hover, th a:hover {
    color: #614c38;
    font-weight: 600;
    text-decoration: none;
}


.table .btn:hover {
    background-color: #5aa8df;
    border-color: #6bb4e7;
    color: #dddddd;
    font-weight: 200;
}

.table #quick {
    font-size: .9em;
}

.wrapper-panel {
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(auto, 1fr));
    grid-gap: 0;
    grid-auto-rows: minmax(100px, auto);
}

.wrapper-panel .remarks-panel {
    border: 1px solid #918f8f;
}

.panel {
    border: 2px;
    border-style: outset;
    height: 100%;
}

.panel-heading{
    background-color: #ffffff;
    border-bottom: #5f5c5c;
    padding-left: 3px;
    font-size: 1.5em;
}


.panel-body {
    margin: 3px 0 0 5px;
    padding: 0;
    border: 0;
}

.remarks-panel {
    border: 0;

}

.footer-nav .btn {
    border: 1px outset;
    background-color: #141414;
    border-radius: 0;
    border-color: #1d1d1d;
    color: #dfdfdf;
    margin: 0;
    margin-left: 0px;
    padding: 1px 0 1px 0;
    width: 70px;
}

.footer-nav .btn:hover {
    background-color: #666565;
    border-color: #2a2a2b;
    color: #141414;
    font-weight: 200;
}


.footer-nav .new {
    border: 1px outset;
    width: 120px;
}




@media only screen and (max-width: 768px){
    .jumbotron h1 {
        font-family: Eczar;
        text-shadow: 2px 2px 3px #a7774a;
        color: #dddddd;
        text-align: left;
        font-size: 3.5em;
        font-weight: bolder;
        margin: 0;
        padding-left: 60px;
    }


}
/////////////////////feedback page//////////////////////////

.f-container input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.f-container input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.f-container input[type=submit]:hover {
    background-color: #45a049;
}

.f-container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}