/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';

/************ Navagation Style ****************/

body {
    background: #918f8f;
    position: relative;
    overflow-x: hidden;
    color: #1c1c1c;
}

body, html {
    height: 100%;
}

.nav .open > a {
    background-color: transparent;
}

    .nav .open > a:hover {
        background-color: transparent;
    }

    .nav .open > a:focus {
        background-color: transparent;
    }

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

    #wrapper.toggled {
        padding-left: 220px;
    }

        #wrapper.toggled #sidebar-wrapper {
            width: 220px;
        }

        #wrapper.toggled #page-content-wrapper {
            margin-right: -220px;
            position: absolute;
        }

#sidebar-wrapper {
    background: #1a1a1a;
    height: 100%;
    left: 220px;
    margin-left: -220px;
    overflow-x: hidden;
    overflow-y: auto;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    width: 0;
    z-index: 1000;
}

    #sidebar-wrapper::-webkit-scrollbar {
        display: none;
    }


#page-content-wrapper {
    padding-top: 70px;
    width: 100%;
}


.sidebar-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 220px;
}

    .sidebar-nav li {
        display: inline-block;
        line-height: 20px;
        position: relative;
        width: 100%;
    }

        .sidebar-nav li:before {
            background-color: #1c1c1c;
            content: '';
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            -webkit-transition: width 0.2s ease-in;
            -moz-transition: width 0.2s ease-in;
            -ms-transition: width 0.2s ease-in;
            -o-transition: width 0.2s ease-in;
            transition: width 0.2s ease-in;
            width: 3px;
            z-index: -1;
        }

        .sidebar-nav li:before {
            background-color: #6bb4e7;
        }

        .sidebar-nav li:hover:before {
            -webkit-transition: width 0.2s ease-in;
            -moz-transition: width 0.2s ease-in;
            -ms-transition: width 0.2s ease-in;
            -o-transition: width 0.2s ease-in;
            transition: width 0.2s ease-in;
            width: 100%;
        }

        .sidebar-nav li a {
            color: #dddddd;
            display: block;
            padding: 10px 15px 10px 30px;
            text-decoration: none;
        }

        .sidebar-nav li.open:hover before {
            -webkit-transition: width 0.2s ease-in;
            -moz-transition: width 0.2s ease-in;
            -ms-transition: width 0.2s ease-in;
            -o-transition: width 0.2s ease-in;
            transition: width 0.2s ease-in;
            width: 100%;
        }

    .sidebar-nav .dropdown-menu {
        background-color: #222222;
        -ms-border-radius: 0;
        border-radius: 0;
        border: none;
        -webkit-box-shadow: none;
        -ms-box-shadow: none;
        box-shadow: none;
        margin: 0;
        padding: 0;
        position: relative;
        width: 100%;
    }

    .sidebar-nav li a:hover, .sidebar-nav li a:active, .sidebar-nav li a:focus, .sidebar-nav li.open a:hover, .sidebar-nav li.open a:active, .sidebar-nav li.open a:focus {
        background-color: transparent;
        color: #ffffff;
        text-decoration: none;
    }

    .sidebar-nav > .sidebar-brand {
        font-size: 20px;
        height: 65px;
        line-height: 44px;
    }

.hamburger {
    background: transparent;
    border: none;
    display: block;
    height: 32px;
    margin-left: 15px;
    position: fixed;
    top: 20px;
    width: 32px;
    z-index: 999;
}

    .hamburger:hover {
        outline: none;
    }

    .hamburger:focus {
        outline: none;
    }

    .hamburger:active {
        outline: none;
    }

    // .hamburger.is-closed:before {
    //     -webkit-transform: translate3d(0, 0, 0);
    //     -moz-transform: translate3d(0, 0, 0);
    //     -ms-transform: translate3d(0, 0, 0);
    //     -o-transform: translate3d(0, 0, 0);
    //     transform: translate3d(0, 0, 0);
    //     -webkit-transition: all 0.35s ease-in-out;
    //     -moz-transition: all 0.35s ease-in-out;
    //     -ms-transition: all 0.35s ease-in-out;
    //     -o-transition: all 0.35s ease-in-out;
    //     transition: all 0.35s ease-in-out;
    //     content: '';
    //     display: block;
    //     font-size: 14px;
    //     line-height: 32px;
    //     -ms-opacity: 0;
    //     opacity: 0;
    //     text-align: center;
    //     width: 100px;
    // }

    // .hamburger.is-closed:hover before {
    //     -webkit-transform: translate3d(-100px, 0, 0);
    //     -moz-transform: translate3d(-100px, 0, 0);
    //     -ms-transform: translate3d(-100px, 0, 0);
    //     -o-transform: translate3d(-100px, 0, 0);
    //     transform: translate3d(-100px, 0, 0);
    //     -webkit-transition: all 0.35s ease-in-out;
    //     -moz-transition: all 0.35s ease-in-out;
    //     -ms-transition: all 0.35s ease-in-out;
    //     -o-transition: all 0.35s ease-in-out;
    //     transition: all 0.35s ease-in-out;
    //     display: block;
    //     -ms-opacity: 1;
    //     opacity: 1;
    // }

    .hamburger.is-closed:hover .hamb-top {
        -webkit-transition: all 0.35s ease-in-out;
        -moz-transition: all 0.35s ease-in-out;
        -ms-transition: all 0.35s ease-in-out;
        -o-transition: all 0.35s ease-in-out;
        transition: all 0.35s ease-in-out;
        top: 0;
    }

    .hamburger.is-closed:hover .hamb-bottom {
        -webkit-transition: all 0.35s ease-in-out;
        -moz-transition: all 0.35s ease-in-out;
        -ms-transition: all 0.35s ease-in-out;
        -o-transition: all 0.35s ease-in-out;
        transition: all 0.35s ease-in-out;
        bottom: 0;
    }

    .hamburger.is-closed .hamb-top {
        -webkit-transition: all 0.35s ease-in-out;
        -moz-transition: all 0.35s ease-in-out;
        -ms-transition: all 0.35s ease-in-out;
        -o-transition: all 0.35s ease-in-out;
        transition: all 0.35s ease-in-out;
        top: 5px;
    }

    .hamburger.is-closed .hamb-middle {
        margin-top: -2px;
        top: 50%;
    }

    .hamburger.is-closed .hamb-bottom {
        -webkit-transition: all 0.35s ease-in-out;
        -moz-transition: all 0.35s ease-in-out;
        -ms-transition: all 0.35s ease-in-out;
        -o-transition: all 0.35s ease-in-out;
        transition: all 0.35s ease-in-out;
        bottom: 5px;
    }

    .hamburger.is-closed .hamb-top, .hamburger.is-closed .hamb-middle, .hamburger.is-closed .hamb-bottom, .hamburger.is-open .hamb-top, .hamburger.is-open .hamb-middle, .hamburger.is-open .hamb-bottom {
        height: 4px;
        left: 0;
        position: absolute;
        width: 100%;
    }

    .hamburger.is-open .hamb-top {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
        -moz-transition: -moz-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
        -ms-transition: -ms-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
        -o-transition: -o-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
        transition: transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
        margin-top: -2px;
        top: 50%;
    }

    .hamburger.is-open .hamb-middle {
        display: none;
    }

    .hamburger.is-open .hamb-bottom {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
        -moz-transition: -moz-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
        -ms-transition: -ms-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
        -o-transition: -o-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
        transition: transform 0.7s cubic-bezier(0.73, 1, 0.28, 0.08);
        margin-top: -2px;
        top: 50%;
    }

    // .hamburger.is-open:before {
    //     -webkit-transform: translate3d(0, 0, 0);
    //     -moz-transform: translate3d(0, 0, 0);
    //     -ms-transform: translate3d(0, 0, 0);
    //     -o-transform: translate3d(0, 0, 0);
    //     transform: translate3d(0, 0, 0);
    //     -webkit-transition: all 0.35s ease-in-out;
    //     -moz-transition: all 0.35s ease-in-out;
    //     -ms-transition: all 0.35s ease-in-out;
    //     -o-transition: all 0.35s ease-in-out;
    //     transition: all 0.35s ease-in-out;
    //     content: '';
    //     display: block;
    //     font-size: 14px;
    //     line-height: 32px;
    //     -ms-opacity: 0;
    //     opacity: 0;
    //     text-align: center;
    //     width: 100px;
    // }

    // .hamburger.is-open:hover before {
    //     -webkit-transform: translate3d(-100px, 0, 0);
    //     -moz-transform: translate3d(-100px, 0, 0);
    //     -ms-transform: translate3d(-100px, 0, 0);
    //     -o-transform: translate3d(-100px, 0, 0);
    //     transform: translate3d(-100px, 0, 0);
    //     -webkit-transition: all 0.35s ease-in-out;
    //     -moz-transition: all 0.35s ease-in-out;
    //     -ms-transition: all 0.35s ease-in-out;
    //     -o-transition: all 0.35s ease-in-out;
    //     transition: all 0.35s ease-in-out;
    //     display: block;
    //     -ms-opacity: 1;
    //     opacity: 1;
    // }


.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1c1c1c;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.hamb-bottom, .hamb-middle, .hamb-top {
    background-color: black;
}
 /***************** End Navagation ********************/  



.container {
    border-radius: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 400px;
}

.container .jumbotron {
    border-radius: 0;
    height: 400px;
    background-image: url('trucker-hero.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    object-fit: cover;
}

.jumbotron h1 {
    font-family: 'roboto';
    text-shadow: 2px 2px 3px #5f5c5c;
    color: #dddddd;
    text-align: right;
    font-size: 3em;
    margin-right: 10px;
    margin-bottom: 0;
}

.header {
    text-align: right;
    margin-top: 0;
    padding: 15px 15px 5px 5px;
    height: 60px;
}

.header-search .btn {
    border: 1px outset;
    background-color: #6bb4e7;
    border-radius: 0;
    border-color: #5aa8df;
    color: #1c1c1c;
    margin: 0;
    padding: 5px 3px 5px 3px;
}

.header-search .searchbox {
    border: 0;
    line-height: 1.9em;
}

.help li, a {
    list-style: none;
    color: #1c1c1c;
    font-size: 1.2em;
}

.help a {
    text-decoration: none;
}

.help a:hover {
    text-decoration: none;
    color: #5f5c5c;
    font-weight: 600;
}

.content-container {
    margin: 3rem;
    color: #1c1c1c;
}

.form-group, .actions {
    color: #1c1c1c;
}

.actions .btn {
    border: 1px outset;
    background-color: #6bb4e7;
    border-radius: 0;
    border-color: #5aa8df;
    color: #1c1c1c;
    margin-left: -5px;
    margin: 0;
}

.actions .btn:hover {
    background-color: #5aa8df;
    border-color: #6bb4e7;
    color: #dddddd;
    font-weight: 200;
}


.card {
    background-color: #ffffff;
    border: 5px #6bb4e7;
    border-radius: 3px;
    color: #1c1c1c;
}

.table .btn {
    border: 1px outset;
    background-color: #6bb4e7;
    border-radius: 0;
    border-color: #5aa8df;
    color: #1c1c1c;
    margin-left: -5px;
    margin: 0;
    padding: 1px 0 1px 0;
    width: 70px;
}

.table .btn:hover {
    background-color: #5aa8df;
    border-color: #6bb4e7;
    color: #dddddd;
    font-weight: 200;
}

.table #quick {
    font-size: .9em
}

.wrapper-panel {
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(auto, 1fr));
    grid-gap: 0;
    grid-auto-rows: minmax(100px, auto);
}

.wrapper-panel .remarks-panel {
    border: 1px solid #918f8f;
}

.panel {
    border: 2px;
    border-style: outset;

}

.panel-heading{
    background-color: #6bb4e7;
    padding-left: 3px;
}

.panel-heading strong {
    margin-left: 3px;
    font-size: 1.5em;
}

.panel-body {
    margin: 3px 0 0 5px;
    padding: 0;
    border: 0;
}

.panel-footer {
    align-items: right;
} 

.remarks-panel {
    border: 0;

}

.footer-nav .btn {
    border: 1px outset;
    background-color: #6bb4e7;
    border-radius: 0;
    border-color: #5aa8df;
    color: #1c1c1c;
    margin: 0;
    margin-left: -5px;
    padding: 1px 0 1px 0;
    width: 70px;
}

.footer-nav .btn:hover {
    background-color: #5aa8df;
    border-color: #6bb4e7;
    color: #dddddd;
    font-weight: 200;
}

.footer-nav .new {
    border: 1px outset;
    width: 120px;
}